* {
  box-sizing: border-box;
}
body {
  font-family: Tahoma, Arial;
}
.quiz-app {
  margin: 20px auto;
  width: 100%;
  height: 100%;
  background-color: #f8f8f8;
  padding: 15px;
}
.quiz-app .quiz-info {
  display: block;
  background-color: #fff;
  padding: 20px;
  width: 100%;
  height: 100%;
}
.quiz-app .quiz-info .category {
  flex: 1;
}
.quiz-app .quiz-info .count {
  flex: 1;
  text-align: right;
}
.quiz-app .quiz-aria {
  background-color: #fff;
  padding: 20px;
  margin-top: 15px;
}
.quiz-app .quiz-aria h2 {
  margin: 0;
}
.quiz-app .answers-aria {
  background-color: #fff;
  padding: 0 20px 20px;
}
.quiz-app .answers-aria .answer {
  background-color: #f9f9f9;
  padding: 15px;
}
.quiz-app .answers-aria .answer:not(:last-child) {
  border-bottom: 1px solid #dfdfdf;
}
.quiz-app .answers-aria .answer input[type="Radio"]:checked + label {
  color: #0075ff;
}
.quiz-app .answers-aria .answer label {
  cursor: pointer;
  font-weight: 500;
  color: #777;
  font-size: 14px;
  margin-left: 5px;
  vertical-align: top;
}
.quiz-app .submit-button {
  background-color: #0075ff;
  display: block;
  width: 75%;
  padding: 10px 15px;
  margin: 0px auto;
  border: none;
  border-radius: 10px;
  color: #fff;
  font-weight: bold;
  font-size: 18px;
  cursor: pointer;
}
.quiz-app .submit-button:focus {
  outline: none;
}
.quiz-app .bullets {
  border-top: 1px solid #dfdfdf;
  background-color: #fff;
  display: flex;
  padding: 20px;
  margin-top: 10px;
}
.quiz-app .bullets .spans {
  flex: 1;
  display: flex;
}
.quiz-app .bullets .spans span {
  width: 20px;
  height: 20px;
  background-color: #ddd;
  margin-right: 5px;
  border-radius: 50%;
}
.quiz-app .bullets .spans span.on {
  background-color: #0075ff;
}
.quiz-app .results span {
  font-weight: bold;
}
.quiz-app .results span.bad {
  color: #dc0a0a;
}
.quiz-app .results span.good {
  color: #009688;
}
.quiz-app .results span.perfect {
  color: #0075ff;
}
